/* ==========================================
   원형 체크박스 (CircleCheckbox)
   ========================================== */
.checkCircle {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  background-color: #111111;
}

.circleCheckMark {
  position: absolute;
  top: calc(50% + 0.57px);
  left: calc(50% - 6px);
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  box-sizing: border-box;
  width: 10px;
  height: 6px;
  overflow: hidden;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}

/* ==========================================
   사각 체크박스 (SquareCheckbox)
   ========================================== */
.checkSquare {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 8px;
  background-color: #111111;
}

.squareCheckMark {
  position: absolute;
  top: calc(50% + 0.49px);
  left: calc(50% - 6px);
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  box-sizing: border-box;
  width: 12px;
  height: 7px;
  overflow: hidden;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
