:root {
  --bg-outer: #ececec;
  --bg-app: #FFFFFF;
  --primary-0: #111111;
  --primary-1: #121212;
  --primary-2: #3F3F46;
  --gray-1: #D4D4D8;
  --gray-2: #E4E4E7;
  --text-1: #71717A;
  --text-2: #A1A1AA;
  --text-3: #52525B;
  --border: #E5E5EA;
  --badge-high: #F0FDF4;
  --badge-high2: #00C950;
  --badge-high-text: #008236;
  --badge-mid: #FEFCE8;
  --badge-mid2: #FDC700;
  --badge-mid-text: #A65F00;
  --badge-low: #FEF2F2;
  --badge-low2: #FB2C36;
  --badge-low-text: #C10007;
  --font-family: 'Pretendard', sans-serif;
}
body {
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}